{% extends 'base-back.html.twig' %}


{% block content %}
            <!-- Form Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h3 class="mb-4">Modifier un hotel</h3>
                            
                            {{form_start(formhotel) }}
                                <div class="mb-3">
                                    <!--
                                    <label  class="form-label">Nom</label>
                                    <input type="text" class="form-control" >
                                    -->
                                    {{form_label(formhotel.nom)  }}
                                    {{form_widget(formhotel.nom ,{'attr':{class: 'form-control'}})}}
                                    
                                </div>

                                <div class="mb-3">
                                    <!--
                                    <input type="email" class="form-control" 
                                        aria-describedby="emailHelp">
                                    -->
                                    {{form_label(formhotel.email)  }}
                                    {{form_widget(formhotel.email ,{'attr':{class: 'form-control'}})}}
                                </div>

                                <div class="mb-3">
                                    {{form_label(formhotel.localisation)  }}
                                    {{form_widget(formhotel.localisation ,{'attr':{class: 'form-control'}})}}
                                    <!--
                                    <input type="number" class="form-control" >
                                    -->
                                    
                                </div>

                                <div class="mb-3">
                                    {{form_label(formhotel.nbr_chambre)  }}
                                    {{form_widget(formhotel.nbr_chambre ,{'attr':{class: 'form-control'}})}}
                                    <!--
                                    <input type="number" class="form-control" >
                                    -->
                                    
                                </div>
                                

                                <div class="mb-3">
                                    {{form_label(formhotel.image)  }}
                                    {{form_widget(formhotel.image ,{'attr':{class: 'form-control'}})}}
                                    <!--
                                    <input type="number" class="form-control" >
                                    -->
                                    
                                </div>
                                <div class="form-floating">
                                    <!--
                                    <textarea class="form-control" 
                                         style="height: 150px;"></textarea>
                                    -->
                                    {{form_label(formhotel.description)  }}
                                    
                                    {{form_widget(formhotel.description ,{'attr':{class: 'form-control'}})}}
                                </div>

                                <br>
                                <button  class="btn btn-primary">Modifier</button>
                            {{form_end(formhotel) }}
                            

                        </div>
                    </div>
                    
                    
                    
                    
                </div>
            </div>
            <!-- Form End -->

{% endblock %}
 