{% extends 'base-front.html.twig' %}


{% block content %} 

    
    <div id="fh5co-hotel-section">
		<div class="container">
			<div class="row">
				
				{% for data in list %}
					<div class="col-md-4">
						<div class="hotel-content">
							<div class="hotel-grid" style="background-image: url({{asset('/frontoffice/images/' ~ data.image)}});">
								<div class="price"><small>For as low as</small><span>$100/night</span></div>
								<a class="book-now text-center" href="{{ path('frontcreatereshotel', {'id': data.id }) }}" ><i class="ti-calendar"></i> Reserver</a>
							</div>
							<div class="desc">
								<h3><a href="#"> {{data.name}} </a></h3>
								<h4>Localisation : {{data.localisation}}  </h4>
								<h4>Nbr de chambre dispo  : {{data.nbrchambre}} </h4>
								
								<p>{{data.description}}</p>
								
							</div>
						</div>
					</div>
				{% endfor %}


				
			</div>
		</div>
	</div>
           
{% endblock %}
			


















