{% extends 'base-back.html.twig' %}

{% block title %}Reclamation index{% endblock %}

{% block content %}
    <br>
    <br>
   <center> <h1> list de Reclamation </h1> </center>
    <br>
    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Message</th>
                <th>Status</th>
                <th>Type</th>
                <th>user</th>
                <th>reservation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.message }}</td>
                <td>{{ reclamation.status }}</td>
                <td>{{ reclamation.type }}</td>
                <td>{{ reclamation.user.name }}</td>
                <td>{{ reclamation.Reservation.id }}</td>
                <td>
                 <!--   <a href="{{ path('frontviewreclamation', {'id': reclamation.id}) }}">show</a>-->
                    
                    <a href="{{ path('reclamation_edit', {'id': reclamation.id}) }}"> <button class="btn-primary"> update status </button></a>
                
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
