{% extends 'base.html.twig' %}

{% block title %}Hello ReclamationController!{% endblock %}

{% block body %}

    {% if reclamation is empty  %}
        <p>Aucun Réclamation à traiter </p>
    {% else %}
        <table >
            <tr>
                <th>id</th>
                <th>message</th>
                <th>type</th>
                <th>status</th>
                <th>date deeeeeeeeeeeeeee réclamation</th>
                <th>userid</th>
            </tr>
            {%  for entity in reclamation %}


                <tr>
                    <td>
                        {{entity.id }}
                    </td>
                    <td>
                        {{entity.message }}
                    </td>
                    <td>
                        {{entity.type }}
                    </td>
                    <td>
                        {{entity.status }}
                    </td>
                    <td>
                        {{ entity.date|date("m/d/Y") }}
                    </td>
                    <td>
                        {{ entity.userid }}
                    </td>

                </tr>

            {% endfor %}
        </table>
    {% endif %}

{% endblock %}
