{% extends 'base-back.html.twig' %}
{% block content %}
<br>
<div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Liste des offre </h6>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">id reservation</th>
                                        <th scope="col">Nom Hotel</th>
                                        <th scope="col">Nom client</th>
                                        <th scope="col">nbr de nombre_de_chambres</th>
                                        <th scope="col">date reservation</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in list %}

                                    <tr>
                                    <th scope="row"> {{ data.id}} </th>
                                    <td> {{ data.Hotel.nom }} </td>
                                    <td> {{ data.Client.name }} </td>
                                    <td> {{ data.nombredechambres}} </td>
                                    
                                    <td> {{ data.dateres |date('d-m-Y') }} </td>
                                        
                                    
                                    <td> <a class="btn btn-primary" href="{{ path('updatereservationhotel', {'id': data.id }) }}">modifier</a></td>
                                    <td> <a class="btn btn-primary" href="{{ path('deletereshotel', {'id': data.id }) }}">supprimer</a></td>
                                     

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

{% endblock %}