{% extends 'base-back.html.twig' %}



{% block content %}


            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Ajouter un Offre</h6>
                            {% for message in app.flashes('notice') %}
                                <div class="alert alert-success" > 
                                    {{ message }}
                                </div>
                            {% endfor %}
                            {{form_start(formoffre) }} 
                                <div class="mb-3">
                                    <label  class="form-label">Nom</label>
                                    {{form_widget(formoffre.name ,{'attr':{class: 'form-control'}})}}
                                    
                                </div>

                                <div class="mb-3">
                                    <label  class="form-label">Destination</label>
                                    {{form_widget(formoffre.destination ,{'attr':{class: 'form-control'}})}}
                                    
                                </div>

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">ID Vol</label>
                                {{form_widget(formoffre.Vol ,{'attr':{class: 'form-control'}})}}

                                </div>

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">ID Hotel</label>
                                    {{form_widget(formoffre.Hotel ,{'attr':{class: 'form-control'}})}}
                                </div>

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">ID Guide</label>
                                    {{form_widget(formoffre.Guide ,{'attr':{class: 'form-control'}})}}
                                </div>

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Place dispo</label>
                                    {{form_widget(formoffre.place_dispo ,{'attr':{class: 'form-control'}})}}
                                    
                                </div>

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Prix</label>
                                    {{form_widget(formoffre.price ,{'attr':{class: 'form-control'}})}}
                                    
                                </div>

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Valabe a partir de </label>
                                    {{form_widget(formoffre.valablede ,{'attr':{class: 'form-control'}})}}
                                    
                                </div>

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">jusqu'à </label>
                                    {{form_widget(formoffre.valablea ,{'attr':{class: 'form-control'}})}}
                                    
                                </div>

                                <div class="mb-3">
                                    <label for="formFile" class="form-label">image</label>
                                    {{form_widget(formoffre.image ,{'attr':{ type: 'file', class: 'form-control'}})}}
                                </div>

                                
                                <div class="mb-3">
                                    <label  class="form-label">description</label>
                                    {{form_widget(formoffre.description ,{'attr':{class: 'form-control'}})}}
                                    
                                </div>
                                <br>
                                <button type="submit" class="btn btn-primary">Ajouter</button>
                            {{form_end(formoffre) }} 
                        </div>
                    </div>
                    
                    
                    
                    
                </div>
            </div>

{% endblock %}


